@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Lobster", sans-serif;
}

body {
    background-color: #130f40;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}



.bmi-calculator {
    background-color: #fff;
    width: 700px;
    border-radius:8px;
    border-color:#3dc9ce;
    display:flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bg-img {
    background-image: url("./assets/bmiImg.png");
    width: 400px;
    background-size : cover;
    border-radius:8px;
    padding:20px;
    
}

.bmi-data{
    padding:20px;
    display:flex;
    flex-direction: column;
    width:100%;
    
}
.bmi-data h1{
    padding:10px 0px;
    text-transform:capitalize;
    font-weight:700;
    color:#2980b9
}

.error-msg{
    color:red;
}

.input-container{
    display:flex;
    flex-direction: column;
    padding:15px 0px;
    gap:5px 0px;
    width:100%;
    
}

.input-container label{
    color:#777;
    font-weight:700;
    margin-bottom:5px;

}

.input-container input{
    color:#444;
    padding:10px 5px;
    outline-color:#3498db;
    font-size:16px;
    border-radius: 8px;
    border:1px solid #888;
}

.bmi-data button{
    outline:none;
    
    border:none;
    border-radius: 4px;
    color:#e2e6eb;
    font-weight:bold;
    font-size:18px;
    padding:10px;
    flex-grow: 1;
    width:100px;
    margin:5px 0px;
    background-color: #3498db;
}

.bmi-data button:hover{
    background-color: #1b4b6b;
    transition: background-color 0.4s ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.result{
    margin:10px 0px;
    padding:20px 5px;
    border:1px solid #888;
    border-radius:5px;
}

.result p {
    margin-bottom:5px;
    color:#888;
    font-weight: 400;
}
 
.result span{
    color:#3498db;
    font-weight: 700;
}
