.footer-container{
    width:100%;
    min-height: 300px;
    background-image: url('./assets/footerbg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
   
}
