@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.resume-container{
    height:auto;
    width:100vw;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 70px;
}
.resume-container a {
    background-color:red;
    color:#fff;
    font-weight: 500;
    border-radius: 30px;
    position: fixed;
    bottom:10px;
    right:10px;
    text-decoration: none;
    padding:6px 10px;
}

.resume-container a:hover{
    color:#fff;
    background-color: rgb(22, 34, 97);
    
}

.resume-container img{
    height:auto;
    width:90%;
}