@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-style:italic;
}
body{
    background-color: #777A8C !important;
    height: 100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}

.qr-code-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    /* min-width:300px; */
    margin-top:30px;
    background-color: #454859;
    border-radius: 10px;
    margin:10px;
}

.heading{
    font-weight: 700;
    padding:7px;
    color:#fff;
}

.img{
    padding:5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin:5px 0;
    border-radius:10px;
    display: flex;
}

.input-label{
    display:block;
    padding:10px;
    font-size:18px;
    color: #fff;
    margin-left:18px;
    align-self: flex-start;
    font-weight: 700;
}

input{
    padding:10px 15px;
    width:90%;
    margin-bottom:20px;
    outline:none;
    border:none;
    border-radius:5px;
    font-size: 16px !important;
}

.btn-div{
    display:flex;
    justify-content: space-between;
}

button{
    padding:10px 15px ;
    border:none;
    color:white;
    font-weight:700;
    margin:30px 15px !important;
}

.generate-btn{
    background-color:#3498db;
    border-radius:5px;
    font-size:16px;
    
}

.download-btn{
    background-color:#219a52;
    border-radius:5px;
    font-size:16px;
}

.footer{
    color:#777777;
    margin:10px;
}

.footer span{
    color:#3498db;
}