@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100vw;
    background-color:#0E1A40 !important;
}

.data-container{
    background-color:#77A0F2 !important;
    width:300px;
    text-align:center;
    padding:10px;
    border-radius:4px;
    color:#fff;
}

h1{
    padding:10px;
    font-weight:400;
    color:orangered;
    /* font-size: 36px; */
}

.time{
    font-size:70px;
    margin-bottom:10px;
}
.time span{
    color:#fff;
    font-size: 30px;
    font-weight: 400;
    
}