@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: "Handjet", sans-serif;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100vw;
    background-color:teal;
}

.container{
    background-color:rgb(160, 243, 243);
    color:#555;
    width:250px;
    text-align:center;
    padding:10px;
    border-radius:4px;
}

h1{
    padding:10px;
    font-weight:400;
    color:orangered;
    /* font-size: 36px; */
}

.time{
    font-size:70px;
    margin-bottom:10px;
}