@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    height:100vh;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #bdc3c7;
}

.container{
    width:350px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    border:0.5px solid #3498db;
}

.city-input{
    display: flex;
    margin:15px;
    justify-content: center;
    align-items: center;
    width:320px;
    border:2px solid #3498db;
    border-radius: 10px;
}

.city-input input{
    border:none;
    border-radius: 10px;
    width:100%;
    padding:10px;
    outline:none;
}

.city-input img{
    height:30px;
    width:30px;
    padding:5px;
}

.weatherimg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.weatherimg img{
    height:200px;
    width:200px;
}

.temp,
.city,
.country{
    margin:5px;
    font-size:30px;
    
}

.temp{
    font-size: 25px;
    font-weight:700;
    margin-top:10px;
    color:#333;
}

.city{
    text-transform: capitalize;
    color:gold;

}

.country{
    font-size: 18px;
    font-weight: 700;
    color:#888;
}

.coordinates{
    display:flex;
    gap:40px;
    margin: 20px 0px;
    width:100%;
    justify-content: space-evenly;
}

.coordinates div{
    font-size:14px;
    display:flex;
    flex-direction:column;
    gap:14px;
    color:#888;
    text-align: center;
    justify-content: center;
}

.coordinates div span{
    color:#444;
    font-size:18px;
    font-weight: 700;
}

.data{
    display:flex;
    width:100%;
    justify-content: space-between;
    padding:20px;
    text-align:center;
}

.element img{
    height:40px;
    width:40px;
    opacity:0.8;
}

.humidity-percentage,
.wind-percentage{
    color:#333;
    font-weight:600;
}

.text{
    color:#888;
    font-size:14px;
    
}

.copyright{
    padding:10px;
    color:#888;
    font-size:smaller;
}

.copyright span{
    color:#3498db;
}

.loading,
.city-not-found{
    color:#3498db;
    font-size:larger;
    margin:10px;
    font-weight: 600;
    
}